-- CreateTable
CREATE TABLE "sextou_tools_pro_generations" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "app_id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "input_data" JSONB NOT NULL,
    "output_data" JSONB NOT NULL,
    "output_text" TEXT NOT NULL,
    "metadata_json" JSONB,
    "language" TEXT NOT NULL DEFAULT 'pt-BR',
    "model" TEXT NOT NULL,
    "prompt_version" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "is_favorite" BOOLEAN NOT NULL DEFAULT false,
    "source_action" TEXT NOT NULL DEFAULT 'GENERATE',
    "source_generation_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sextou_tools_pro_generations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sextou_tools_pro_prompt_templates" (
    "id" TEXT NOT NULL,
    "app_id" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "schema_name" TEXT NOT NULL,
    "system_prompt" TEXT NOT NULL,
    "schema_json" JSONB NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sextou_tools_pro_prompt_templates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sextou_tools_pro_usage_events" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "app_id" TEXT NOT NULL,
    "generation_id" TEXT,
    "action_type" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sextou_tools_pro_usage_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zap_connections" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "mode" TEXT NOT NULL,
    "display_number" TEXT,
    "waba_phone_id" TEXT,
    "session_ref" TEXT,
    "status" TEXT NOT NULL DEFAULT 'disconnected',
    "risk_acknowledged_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "zap_connections_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zap_groups" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "connection_id" TEXT,
    "external_group_id" TEXT NOT NULL,
    "name" TEXT,
    "member_count" INTEGER,
    "last_extracted_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "zap_groups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zap_group_extractions" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "group_id" TEXT NOT NULL,
    "declared_purpose" TEXT NOT NULL,
    "limit_applied" INTEGER,
    "total_found" INTEGER,
    "total_imported" INTEGER,
    "total_skipped" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "zap_group_extractions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contacts" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "phone_e164" TEXT NOT NULL,
    "display_name" TEXT,
    "source_type" TEXT NOT NULL DEFAULT 'group',
    "source_group_id" TEXT,
    "persona" TEXT,
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "is_valid" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "contacts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zap_leads" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "contact_id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'frio',
    "heat_score" INTEGER NOT NULL DEFAULT 0,
    "owner_id" TEXT,
    "estimated_value" DOUBLE PRECISION,
    "next_followup_at" TIMESTAMP(3),
    "first_contacted_at" TIMESTAMP(3),
    "became_hot_at" TIMESTAMP(3),
    "last_interaction_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "zap_leads_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lead_status_history" (
    "id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "from_status" TEXT,
    "to_status" TEXT NOT NULL,
    "reason" TEXT,
    "changed_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lead_status_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lead_events" (
    "id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "event_type" TEXT NOT NULL,
    "payload" JSONB,
    "detected_intent" TEXT,
    "sentiment" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lead_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zap_messages" (
    "id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "direction" TEXT NOT NULL,
    "channel" TEXT NOT NULL DEFAULT 'whatsapp',
    "body" TEXT,
    "template_id" TEXT,
    "ai_generated" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT,
    "external_message_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "zap_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "message_templates" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "objective" TEXT,
    "tone" TEXT,
    "language" TEXT NOT NULL DEFAULT 'pt-BR',
    "body" TEXT NOT NULL,
    "is_approved" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "message_templates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "consent_log" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "contact_id" TEXT,
    "action" TEXT NOT NULL,
    "basis" TEXT,
    "source" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "consent_log_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "sextou_tools_pro_generations_user_id_app_id_created_at_idx" ON "sextou_tools_pro_generations"("user_id", "app_id", "created_at");

-- CreateIndex
CREATE INDEX "sextou_tools_pro_generations_user_id_status_created_at_idx" ON "sextou_tools_pro_generations"("user_id", "status", "created_at");

-- CreateIndex
CREATE INDEX "sextou_tools_pro_generations_source_generation_id_idx" ON "sextou_tools_pro_generations"("source_generation_id");

-- CreateIndex
CREATE INDEX "sextou_tools_pro_prompt_templates_app_id_is_active_idx" ON "sextou_tools_pro_prompt_templates"("app_id", "is_active");

-- CreateIndex
CREATE UNIQUE INDEX "sextou_tools_pro_prompt_templates_app_id_version_key" ON "sextou_tools_pro_prompt_templates"("app_id", "version");

-- CreateIndex
CREATE INDEX "sextou_tools_pro_usage_events_user_id_created_at_idx" ON "sextou_tools_pro_usage_events"("user_id", "created_at");

-- CreateIndex
CREATE INDEX "sextou_tools_pro_usage_events_user_id_app_id_created_at_idx" ON "sextou_tools_pro_usage_events"("user_id", "app_id", "created_at");

-- CreateIndex
CREATE INDEX "sextou_tools_pro_usage_events_generation_id_action_type_idx" ON "sextou_tools_pro_usage_events"("generation_id", "action_type");

-- CreateIndex
CREATE INDEX "zap_connections_user_id_idx" ON "zap_connections"("user_id");

-- CreateIndex
CREATE INDEX "zap_groups_user_id_idx" ON "zap_groups"("user_id");

-- CreateIndex
CREATE INDEX "zap_group_extractions_user_id_idx" ON "zap_group_extractions"("user_id");

-- CreateIndex
CREATE INDEX "zap_group_extractions_group_id_idx" ON "zap_group_extractions"("group_id");

-- CreateIndex
CREATE INDEX "contacts_user_id_source_group_id_idx" ON "contacts"("user_id", "source_group_id");

-- CreateIndex
CREATE UNIQUE INDEX "contacts_user_id_phone_e164_key" ON "contacts"("user_id", "phone_e164");

-- CreateIndex
CREATE INDEX "zap_leads_user_id_status_idx" ON "zap_leads"("user_id", "status");

-- CreateIndex
CREATE INDEX "zap_leads_user_id_heat_score_idx" ON "zap_leads"("user_id", "heat_score" DESC);

-- CreateIndex
CREATE INDEX "zap_leads_user_id_next_followup_at_idx" ON "zap_leads"("user_id", "next_followup_at");

-- CreateIndex
CREATE INDEX "lead_status_history_lead_id_idx" ON "lead_status_history"("lead_id");

-- CreateIndex
CREATE INDEX "lead_events_lead_id_created_at_idx" ON "lead_events"("lead_id", "created_at" DESC);

-- CreateIndex
CREATE INDEX "lead_events_user_id_idx" ON "lead_events"("user_id");

-- CreateIndex
CREATE INDEX "zap_messages_lead_id_created_at_idx" ON "zap_messages"("lead_id", "created_at");

-- CreateIndex
CREATE INDEX "zap_messages_user_id_idx" ON "zap_messages"("user_id");

-- CreateIndex
CREATE INDEX "message_templates_user_id_idx" ON "message_templates"("user_id");

-- CreateIndex
CREATE INDEX "consent_log_contact_id_action_idx" ON "consent_log"("contact_id", "action");

-- CreateIndex
CREATE INDEX "consent_log_user_id_idx" ON "consent_log"("user_id");

-- AddForeignKey
ALTER TABLE "sextou_tools_pro_generations" ADD CONSTRAINT "sextou_tools_pro_generations_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sextou_tools_pro_generations" ADD CONSTRAINT "sextou_tools_pro_generations_source_generation_id_fkey" FOREIGN KEY ("source_generation_id") REFERENCES "sextou_tools_pro_generations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sextou_tools_pro_usage_events" ADD CONSTRAINT "sextou_tools_pro_usage_events_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sextou_tools_pro_usage_events" ADD CONSTRAINT "sextou_tools_pro_usage_events_generation_id_fkey" FOREIGN KEY ("generation_id") REFERENCES "sextou_tools_pro_generations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_connections" ADD CONSTRAINT "zap_connections_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_groups" ADD CONSTRAINT "zap_groups_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_groups" ADD CONSTRAINT "zap_groups_connection_id_fkey" FOREIGN KEY ("connection_id") REFERENCES "zap_connections"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_group_extractions" ADD CONSTRAINT "zap_group_extractions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_group_extractions" ADD CONSTRAINT "zap_group_extractions_group_id_fkey" FOREIGN KEY ("group_id") REFERENCES "zap_groups"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contacts" ADD CONSTRAINT "contacts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contacts" ADD CONSTRAINT "contacts_source_group_id_fkey" FOREIGN KEY ("source_group_id") REFERENCES "zap_groups"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_leads" ADD CONSTRAINT "zap_leads_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_leads" ADD CONSTRAINT "zap_leads_contact_id_fkey" FOREIGN KEY ("contact_id") REFERENCES "contacts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lead_status_history" ADD CONSTRAINT "lead_status_history_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "zap_leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lead_events" ADD CONSTRAINT "lead_events_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "zap_leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lead_events" ADD CONSTRAINT "lead_events_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_messages" ADD CONSTRAINT "zap_messages_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "zap_leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zap_messages" ADD CONSTRAINT "zap_messages_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "message_templates" ADD CONSTRAINT "message_templates_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consent_log" ADD CONSTRAINT "consent_log_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "consent_log" ADD CONSTRAINT "consent_log_contact_id_fkey" FOREIGN KEY ("contact_id") REFERENCES "contacts"("id") ON DELETE SET NULL ON UPDATE CASCADE;


-- ==============================================================================
-- SEXTOU ZAPLEADS CRM - Row Level Security (RLS) & Gate Premium Policies
-- Este script habilita a seguranÃ§a no banco de dados para garantir que apenas
-- usuÃ¡rios com a flag is_premium = true possam acessar os dados do CRM.
-- Nota: Para ambientes que nÃ£o usam auth.uid() do Supabase nativamente via JWT,
-- a policy assume que a role de conexÃ£o estÃ¡ parametrizada ou Ã© tratada pela API.
-- ==============================================================================

-- 1. Habilitar RLS em todas as tabelas do ZapLeads
ALTER TABLE public.zap_connections ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.zap_groups ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.zap_group_extractions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.contacts ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.zap_leads ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.lead_status_history ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.lead_events ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.zap_messages ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.message_templates ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.consent_log ENABLE ROW LEVEL SECURITY;

-- 2. Criar funÃ§Ã£o utilitÃ¡ria para verificar se o usuÃ¡rio Ã© premium
-- (Otimiza as consultas das policies)
CREATE OR REPLACE FUNCTION public.is_user_premium()
RETURNS boolean
LANGUAGE sql
SECURITY DEFINER
AS $$
  SELECT EXISTS (
    SELECT 1 
    FROM public.users 
    WHERE id = auth.uid()::text AND is_premium = true
  );
$$;

-- 3. Criar PolÃ­ticas Base (Leitura e Escrita apenas para o proprietÃ¡rio E que seja Premium)

-- ZAP CONNECTIONS
CREATE POLICY "Premium_Only_Select_ZapConnections" ON public.zap_connections
  FOR SELECT USING (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Insert_ZapConnections" ON public.zap_connections
  FOR INSERT WITH CHECK (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Update_ZapConnections" ON public.zap_connections
  FOR UPDATE USING (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Delete_ZapConnections" ON public.zap_connections
  FOR DELETE USING (user_id = auth.uid()::text AND is_user_premium());

-- ZAP GROUPS
CREATE POLICY "Premium_Only_Select_ZapGroups" ON public.zap_groups
  FOR SELECT USING (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Insert_ZapGroups" ON public.zap_groups
  FOR INSERT WITH CHECK (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Update_ZapGroups" ON public.zap_groups
  FOR UPDATE USING (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Delete_ZapGroups" ON public.zap_groups
  FOR DELETE USING (user_id = auth.uid()::text AND is_user_premium());

-- CONTATOS E LEADS
CREATE POLICY "Premium_Only_Select_Contacts" ON public.contacts
  FOR SELECT USING (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Insert_Contacts" ON public.contacts
  FOR INSERT WITH CHECK (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Update_Contacts" ON public.contacts
  FOR UPDATE USING (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Select_ZapLeads" ON public.zap_leads
  FOR SELECT USING (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Insert_ZapLeads" ON public.zap_leads
  FOR INSERT WITH CHECK (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Update_ZapLeads" ON public.zap_leads
  FOR UPDATE USING (user_id = auth.uid()::text AND is_user_premium());

-- APLICAÃ‡ÃƒO ANÃLOGA PARA AS DEMAIS TABELAS
-- O Consent Log Ã© append-only, entÃ£o nÃ£o permitimos UPDATE/DELETE
CREATE POLICY "Premium_Only_Select_ConsentLog" ON public.consent_log
  FOR SELECT USING (user_id = auth.uid()::text AND is_user_premium());

CREATE POLICY "Premium_Only_Insert_ConsentLog" ON public.consent_log
  FOR INSERT WITH CHECK (user_id = auth.uid()::text AND is_user_premium());
